img {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.ingredients-array > * {
    margin-bottom: 10px;
}

.ingredients-array > *:last-child {
    float: right;
}

.ingredients-array .btn {
    float: right;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.main-buttons {
    float: right;
}